.sidebar{
  width:220px;
  height:100vh;
  background:#111827;
  padding:20px;
  position:fixed;
  left:0;
  top:0;
}

.sidebar h2{
  margin-bottom:30px;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  margin-top:20px;
  cursor:pointer;
}

.sidebar li:hover{
  color:#3b82f6;
}