body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #111827;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 20px 0;
}

.main {
  flex: 1;
  padding: 30px;
  background: #08142e;
  color: white;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  width: 180px;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.blue {
  background: #2563eb;
}

.green {
  background: #16a34a;
}

.red {
  background: #dc2626;
}

.logout-btn {
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}