*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root {
  min-height: 100%;
  height: auto;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

button{
  background:#2563eb;
  color:white;
  border:none;
  padding:10px 20px;
  cursor:pointer;
  border-radius:5px;
}

button:hover{
  background:#1d4ed8;
}